<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <ul class="list-reset footer__list">
        <li class="footer__list-item">
          <a class="footer__list-link" href="#">Home</a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="#">About Me</a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="#">Portfolio</a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="#">Contact</a>
        </li>
      </ul>

      <ul class="list-reset footer__list">
        <li class="footer__list-item">
         Contact:
        </li>
        <li class="footer__list-item">
          Email:
          <a class="footer__list-link" href="mailto:sergeyivanyuk89@gmail.com">sergeyivanyuk89@gmail.com</a>
        </li>
        <li class="footer__list-item">
          Telegram:
          <a class="footer__list-link" href="https://t.me/sergeyIvanyuk">
            Link
          </a>
        </li>
        <li class="footer__list-item">
          Calls:
          <a class="footer__list-link" href="tel:+79956539538">
            +7-(995)-653-95-38
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
